:root{
    --cor-principal:  #ffffff; 
    --cor-secundaria: #00ffaa;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }
/*----------------------------------Cabecalho---------------------------------*/

#menu-principal {
    background: linear-gradient( hsl(244, 85%, 11%), rgb(1, 41, 100));
    color: rgb(255, 255, 255); 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 1px; 
    font-size: 40px ;
    transition: background-color 0.5s, color 0.5s; 
    
}
.logo {
    height: auto;
    width: 150px;
    border-radius: 2%;
    margin-left: 0px;
    margin-bottom: 0px;
    position: relative;
}
.home {
    color: var(--cor-principal);
    position: absolute; 
    top: 100px; 
    left: 56%; 
    text-decoration: none;
}
.home:hover{
    color: var(--cor-secundaria);
}

.empresa {
    color: var(--cor-principal);
    position: absolute; 
    top: 100px; 
    left: 64%; 
    text-decoration: none;
}
.empresa:hover{
    color: var(--cor-secundaria);

}

.servicos{
    color: var(--cor-principal);
    position: absolute; 
    top: 100px; 
    left: 75%; 
    text-decoration: none;
}
.servicos:hover{
    color: var(--cor-secundaria);
}

.contato {
    color: var(--cor-principal);
    position: absolute; 
    top: 100px; 
    left: 85.4%; 
    text-decoration: none;
}
.contato:hover{
    color: var(--cor-secundaria);
}



/*------------------------------Conteudo Pricipal----------------------------*/

#Conteudo-Principal{
    padding: 4%;
}

.tprincipal{
    margin-left: 35%;
}
.tcurso{
    margin-left: 3%;
    column-count: 1;
    font-size: 170%;
}
.aluno{
    margin-left: 52px;
    font-size: 170%;
}
.imagem1{
    margin-left: 80%;
    margin-top: -210px;
    width: 25%;
}

/*-----------------------------Conteudo Secundario--------------------------------------*/



.tsegundo{
    margin-left: 40%;
}
.aprimorar{
    margin-top: 90px;
    margin-left: 40%;
    font-size: 200%;
}
.imagem2{
    margin-left: 6%;
    margin-top: -190px;
    width: 25%;
}
.seres{
    font-size: 170%;
    margin-left: 35%;
}
.patinho-gif{
    margin-left: 40%;
}



/*----------------------------Rodape---------------------------------*/
#Rodapé{
    background: linear-gradient(to right, hsl(261, 78%, 25%), rgb(4, 11, 114));
    color: rgb(255, 255, 255); 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 1px; 
    font-size: 170% ;
    transition: background-color 0.5s, color 0.5s; /* Transição suave */
}
.teprincipal{
    margin-left: 40%;
}
.tempresa{
    margin-left: 35%;
}
.quadro{
    border: 2px solid #000;
    padding: 20px;
    margin: 30px;
    width: 300px;
    background-color: #f9f9f9;
    margin-top: 10%;
}
.cliente1{
    margin-left: 20px;
    margin-bottom: px;
}
.imagem3{
    margin-left: 4%;
    margin-top: 10px;
    width: 10%;
}
